.btn-dark:hover{
  background-color: #ca9c12;
}

li:hover{
    background-color: #ca9c12;
}

.activepage{
    background-color: #ca9c12;
}

.activedrop:hover{
    background-color: #ca9c12;
}
