.custom-container{
    height: 100vh;
}

.animate__animated{
    width: auto !important;
    
}

.custom-card{
    max-width: 18rem !important;
    transition: all 0.2s ease;
    cursor: pointer;
}
.custom-card:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}
.remove{
    display: none !important;
}

.header{
    color: white;
}